In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('train.csv')
df.columns=['x1','x2','x3','x4','x5','x6','x7','x8','x9','x10','x11','x12','x13','x14','x15','x16','x17','x18','x19','x20','x21','x22','x23','x24','x25','x26','x27','x28','x29','x30','x31',
'x32','x33','x34','x35','x36','x37','x38','x39','x40','y']
df.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x32,x33,x34,x35,x36,x37,x38,x39,x40,y
0,470,-39,0.02,0.12,0.39,-0.6,-12,8,0.009,-1.6,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.9,0.034,-0.0011
1,165,4,0.14,0.14,0.78,0.4,-11,-9,-0.003,-0.2,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,1.0,0.034,-0.0012
2,-113,5,-0.12,0.11,1.06,0.6,-10,-7,-0.008,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.9,0.033,-0.0011
3,-411,-21,-0.17,0.07,1.33,-0.6,-11,0,0.002,0.1,...,0.0,0.0,0.0,0.0,0.0,-0.002,0.0,0.9,0.032,-0.0008
4,-105,-42,0.23,-0.06,0.92,-0.6,-12,10,0.011,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.8,0.028,-0.0010

In [4]:
df.shape

(7153, 41)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7153 entries, 0 to 7152
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      7153 non-null   int64
 1   x2      7153 non-null   int64
 2   x3      7153 non-null   float64
 3   x4      7153 non-null   float64
 4   x5      7153 non-null   float64
 5   x6      7153 non-null   float64
 6   x7      7153 non-null   int64
 7   x8      7153 non-null   int64
 8   x9      7153 non-null   float64
 9   x10     7153 non-null   float64
 10  x11     7153 non-null   float64
 11  x12     7153 non-null   float64
 12  x13     7153 non-null   float64
 13  x14     7153 non-null   float64
 14  x15     7153 non-null   float64
 15  x16     7153 non-null   float64
 16  x17     7153 non-null   float64
 17  x18     7153 non-null   float64
 18  x19     7153 non-null   float64
 19  x20     7153 non-null   float64
 20  x21     7153 non-null   float64
 21  x22     7153 non-null   float64
 22  x23     7153 non-null   float64
 23  x24     7153 non-null   float64
 24  x25     7153 non-null   float64
 25  x26     7153 non-null   float64
 26  x27     7153 non-null   float64
 27  x28     7153 non-null   float64
 28  x29     7153 non-null   float64
 29  x30     7153 non-null   float64
 30  x31     7153 non-null   float64
 31  x32     7153 non-null   float64
 32  x33     7153 non-null   float64
 33  x34     7153 non-null   float64
 34  x35     7153 non-null   float64
 35  x36     7153 non-null   float64
 36  x37     7153 non-null   float64
 37  x38     7153 non-null   float64
 38  x39     7153 non-null   float64
 39  x40     7153 non-null   float64
 40  y       7153 non-null   float64
dtypes: float64(37), int64(4)
memory usage: 2.2 MB

In [6]:
df.isnull().sum()

x1     0
x2     0
x3     0
x4     0
x5     0
x6     0
x7     0
x8     0
x9     0
x10    0
x11    0
x12    0
x13    0
x14    0
x15    0
x16    0
x17    0
x18    0
x19    0
x20    0
x21    0
x22    0
x23    0
x24    0
x25    0
x26    0
x27    0
x28    0
x29    0
x30    0
x31    0
x32    0
x33    0
x34    0
x35    0
x36    0
x37    0
x38    0
x39    0
x40    0
y      0
dtype: int64

In [7]:
df=df.astype("float64")
df.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x32,x33,x34,x35,x36,x37,x38,x39,x40,y
0,470.0,-39.0,0.02,0.12,0.39,-0.6,-12.0,8.0,0.009,-1.6,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.9,0.034,-0.0011
1,165.0,4.0,0.14,0.14,0.78,0.4,-11.0,-9.0,-0.003,-0.2,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,1.0,0.034,-0.0012
2,-113.0,5.0,-0.12,0.11,1.06,0.6,-10.0,-7.0,-0.008,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.9,0.033,-0.0011
3,-411.0,-21.0,-0.17,0.07,1.33,-0.6,-11.0,0.0,0.002,0.1,...,0.0,0.0,0.0,0.0,0.0,-0.002,0.0,0.9,0.032,-0.0008
4,-105.0,-42.0,0.23,-0.06,0.92,-0.6,-12.0,10.0,0.011,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.8,0.028,-0.0010

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7153 entries, 0 to 7152
Data columns (total 41 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      7153 non-null   float64
 1   x2      7153 non-null   float64
 2   x3      7153 non-null   float64
 3   x4      7153 non-null   float64
 4   x5      7153 non-null   float64
 5   x6      7153 non-null   float64
 6   x7      7153 non-null   float64
 7   x8      7153 non-null   float64
 8   x9      7153 non-null   float64
 9   x10     7153 non-null   float64
 10  x11     7153 non-null   float64
 11  x12     7153 non-null   float64
 12  x13     7153 non-null   float64
 13  x14     7153 non-null   float64
 14  x15     7153 non-null   float64
 15  x16     7153 non-null   float64
 16  x17     7153 non-null   float64
 17  x18     7153 non-null   float64
 18  x19     7153 non-null   float64
 19  x20     7153 non-null   float64
 20  x21     7153 non-null   float64
 21  x22     7153 non-null   float64
 22  x23     7153 non-null   float64
 23  x24     7153 non-null   float64
 24  x25     7153 non-null   float64
 25  x26     7153 non-null   float64
 26  x27     7153 non-null   float64
 27  x28     7153 non-null   float64
 28  x29     7153 non-null   float64
 29  x30     7153 non-null   float64
 30  x31     7153 non-null   float64
 31  x32     7153 non-null   float64
 32  x33     7153 non-null   float64
 33  x34     7153 non-null   float64
 34  x35     7153 non-null   float64
 35  x36     7153 non-null   float64
 36  x37     7153 non-null   float64
 37  x38     7153 non-null   float64
 38  x39     7153 non-null   float64
 39  x40     7153 non-null   float64
 40  y       7153 non-null   float64
dtypes: float64(41)
memory usage: 2.2 MB

In [9]:
fun_std=lambda data :(data-data.mean())/data.std()
for data in df.columns:
    df[data]=fun_std(df[data])

In [10]:
df.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x32,x33,x34,x35,x36,x37,x38,x39,x40,y
0,1.852124,-1.009376,0.038308,0.509872,-0.759910,-0.734237,-0.258081,0.863805,0.752754,-1.391201,...,0.0,0.160172,0.009654,0.160543,0.005287,0.153457,0.016723,1.346134,1.656435,-0.562009
1,0.676804,0.614868,0.430411,0.679371,0.470950,0.301558,-0.012660,-0.774698,-0.155579,-0.136268,...,0.0,0.160172,0.009654,0.160543,0.005287,0.153457,0.016723,1.837004,1.656435,-0.804605
2,-0.394472,0.652641,-0.419147,0.425122,1.354645,0.508717,0.232760,-0.581933,-0.534052,0.043008,...,0.0,0.160172,0.009654,0.160543,0.005287,0.153457,0.016723,1.346134,1.517676,-0.562009
3,-1.542818,-0.329460,-0.582523,0.086124,2.206779,-0.734237,-0.012660,0.092744,0.222893,0.132646,...,0.0,0.160172,0.009654,0.160543,0.005287,-3.103742,0.016723,1.346134,1.378917,0.165778
4,-0.363644,-1.122695,0.724489,-1.015620,0.912798,-0.734237,-0.258081,1.056570,0.904143,0.043008,...,0.0,0.160172,0.009654,0.160543,0.005287,0.153457,0.016723,0.855265,0.823882,-0.319414

In [11]:
df.y[df.y>0]=1
df.y[df.y<=0]=0
#在这里将问题转化为二分类问题进行处理

In [12]:
df.head()

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,...,x32,x33,x34,x35,x36,x37,x38,x39,x40,y
0,1.852124,-1.009376,0.038308,0.509872,-0.759910,-0.734237,-0.258081,0.863805,0.752754,-1.391201,...,0.0,0.160172,0.009654,0.160543,0.005287,0.153457,0.016723,1.346134,1.656435,0.0
1,0.676804,0.614868,0.430411,0.679371,0.470950,0.301558,-0.012660,-0.774698,-0.155579,-0.136268,...,0.0,0.160172,0.009654,0.160543,0.005287,0.153457,0.016723,1.837004,1.656435,0.0
2,-0.394472,0.652641,-0.419147,0.425122,1.354645,0.508717,0.232760,-0.581933,-0.534052,0.043008,...,0.0,0.160172,0.009654,0.160543,0.005287,0.153457,0.016723,1.346134,1.517676,0.0
3,-1.542818,-0.329460,-0.582523,0.086124,2.206779,-0.734237,-0.012660,0.092744,0.222893,0.132646,...,0.0,0.160172,0.009654,0.160543,0.005287,-3.103742,0.016723,1.346134,1.378917,1.0
4,-0.363644,-1.122695,0.724489,-1.015620,0.912798,-0.734237,-0.258081,1.056570,0.904143,0.043008,...,0.0,0.160172,0.009654,0.160543,0.005287,0.153457,0.016723,0.855265,0.823882,0.0

In [13]:
#traindata=df[0:4800]
#testdata=df[4800:]

In [14]:
class Node(object):
    """结点
       leaf_value 记录叶子结点值
       split_feature 分裂节点对应的特征名
       split_value 分裂节点对应的特征的值
       left  左子树
       right  右子树
    """
 
    def __init__(self, leaf_value=None, split_feature=None, split_value=None, left=None, right=None):
        self.leaf_value = leaf_value
        self.split_feature = split_feature
        self.split_value = split_value
        self.left = left
        self.right = right
 
    def show(self):
        print(
            f'weight: {self.leaf_value}, split_feature: {self.split_feature}, split_value: {self.split_value}.')

In [15]:
# 树的结构参数
reg_lambda = 1 # 叶节点权重L2正则系数
min_samples_split = 1 # 分裂所需的最小样本个数
max_depth = 3 # 树的深度
 
# 建树过程参数
learning_rate = 0.1 # 学习率
n_estimators = 2 # 树的个数
 
# log损失函数
def log_loss_obj(preds, labels):
    # preds是建该树之前模型的输出，对于二分类问题需要的是概率，因此将该值经过Sigmoid转换
    probs = 1.0 / (1.0 + np.exp(-preds))
    grad = probs - labels
    hess = probs * (1.0 - probs)
    return grad, hess
 
 
def build_tree(df, feature_names, depth=1):
    df = df.copy()
    df['g'], df['h'] = log_loss_obj(df.y_pred, df.y)
    G, H = df[['g', 'h']].sum()
    Gain_max = float('-inf')
 
    # 终止条件 当前节点个数小于分裂所需最小样本个数，深度大于max_depth，叶节点只有一类样本无需再分
    if df.shape[0] > min_samples_split and depth <= max_depth and df.y.nunique() > 1:
        for feature in feature_names: # 遍历每个特征
            thresholds = sorted(set(df[feature])) # 特征取值排序
            for thresh_value in thresholds[1:]: # 遍历每个取值
                left_instance = df[df[feature] < thresh_value] # 划分到左右节点的样本
                right_instance = df[df[feature] >= thresh_value]
                G_left, H_left = left_instance[['g', 'h']].sum()
                G_right, H_right = right_instance[['g', 'h']].sum()
 
                Gain = G_left**2/(H_left+reg_lambda)+G_right**2 / \
                    (H_right+reg_lambda)-G**2/(H+reg_lambda) # 评价划分的增益效果
                if Gain >= Gain_max:
                    Gain_max = Gain
                    split_feature = feature # 最大增益对应的分裂特征
                    split_value = thresh_value # 最大增益对应的分裂值
                    left_data = left_instance # 最大增益对应的分裂后左节点样本
                    right_data = right_instance # 最大增益对应的分裂后右节点样本
 
        left = build_tree(left_data, feature_names,  depth+1) # 递归建左子树
        right = build_tree(right_data, feature_names, depth+1)# 递归建右子树
        return Node(split_feature=split_feature, split_value=split_value, left=left, right=right) # 返回分裂节点
    return Node(leaf_value=-G/(H+reg_lambda)*learning_rate) # 分裂终止，返回叶节点权重

In [16]:
def predict(x, tree):
    # 递归每个分裂点直到样本对应的叶节点
    # 终止条件：叶节点
    if tree.leaf_value is not None:
        return tree.leaf_value
    if x[tree.split_feature] < tree.split_value:
        return predict(x, tree.left)
    else:
        return predict(x, tree.right)

In [17]:
trees = []
y_pred = 0  # 初始预测值
for i in range(n_estimators):
    df['y_pred'] = y_pred
    tree = build_tree(df, feature_names=['x1','x2'])
    data_weight = df[['x1','x2']].apply(
        predict, tree=tree, axis=1)
    y_pred += data_weight
    print(y_pred)
    trees.append(tree)

0      -0.010931
1       0.056766
2       0.056766
3       0.025774
4      -0.010931
          ...
7148    0.056766
7149    0.086505
7150    0.086505
7151    0.086505
7152    0.086505
Length: 7153, dtype: float64
0      -0.025310
1       0.088502
2       0.115999
3       0.048635
4      -0.011571
          ...
7148    0.115999
7149    0.145739
7150    0.145739
7151    0.145739
7152    0.145739
Length: 7153, dtype: float64